
TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE

TELEGRAM_WEBHOOK_URL=


MAX_ENABLED=false

MAX_TOKEN=


MAX_TIMEOUT_SECONDS=30


DATA_USE_DATABASE=true

DATA_CONNECTION_STRING=Host=corp-db.example.com;Port=5432;Database=handbookbot;Username=readonly_botuser;Password=your_secure_password;SslMode=Require;TrustServerCertificate=false
